<div class="panel panel-default">
  <div class="panel-heading"><h2>System Configuration</h2></div>
    <div class="panel-body">
      <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading"><h1>Create new node_type</h1></div>
        <%= render "form" %>
      </div>
    </div>
</div>
