<!DOCTYPE html>
<html>
<head>
  <title>Iotlogin</title>
  <%= stylesheet_link_tag    "iotlogin/application", media: "all" %>
  <%= javascript_include_tag "iotlogin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
